@font-face {
    font-family: "Aniron";
    src: url(../fonts/aniron/anirm___.ttf)format("truetype");
}

@font-face {
    font-family: "Party Business";
    src: url(../fonts/partybusiness/partybusiness.ttf)format("truetype");
}

@font-face {
  font-family: "Tengwar";
  src: url(../fonts/tengwar_annatar/tngan.ttf)format("truetype");
}

body {
  font-family: "Party Business", arial;
  font-size: 1.5rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Aniron";
  font-size:1.25rem;
}

.elfique {
  font-family: "Tengwar";
}

h4 {
    text-align: center;
}

.nav-pills .pill-1 .nav-link:not(.active) {
    text-decoration: underline;
}

.nav-pills .pill-1 .nav-link {
    background-color: rgba(125,125,125,0);
    color: orange;
}

.card {
  text-align: center;
}

.gimli {
  align-items: center;
}

.card-deck img {
  display:block;
  margin: 5% 5% auto 5%;
  width:90%;
  height:auto;
  transition: .5s ease;
  opacity:0.3;
}

.card-deck img:hover {
  opacity:1;
}

.reward {
  position: absolute;
  top: 10%;
  font-size: 2rem;
  background-color:rgba(255,255,255,0.6);
  text-align: center;
}

.navbar {
  background-color: orangered;
  color: white;
}
body {
  background-image: url("../Images/bg_dark.png")
}

#fellows {
  padding: 3vw 1vw;
  background-image: url("../Images/bg_light.png")
}

#fellows .card {
  background-color: rgb(35,35,35);
  color: white;
}

#getMyReward {
  padding: 3vw 1vw;
  color:white;
}

#getMyReward img {
  border-radius: 50%;
}

#bestHunters {
  padding: 3vw 2vw;
  background-image: url("../Images/bg_light.png")
}

#bestHunters h5 {
  color:orange;
}

#bestHunters img {
border-radius: 15%;
}

#theRing {
  padding: 3vw 1vw;
  background-image: url("../Images/bg_dark.png");
}

#theRing th {
  background-color:orange;
}

#theRing .card-header {
  background-color: orange;
}


hr {
  height: 3px;
  margin: 0 auto;
  padding: 0;
  background-color: orange;
  border: 0;
  width: 40%;
}

.price {
  color:rgba(206,86,28,1);
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.card:hover .reward {
  transition: .5s ease-in;
  opacity:0;
  visibility:hidden;
}


.card:hover .name {
  top: 55%;
  font-size:2.5rem;
  transition: .5s ease-out;
}

#getMyReward img {
  float:right;
  margin-left: 1.5vw;
}

#getMyReward button {
  margin: 0 auto;
}

.media {
  float: left;
}

 .card-body {
   align-items: center;
 }

 #joinTheArmy {
   padding: 3vw 1vw;
   margin: 1vw;
   background-image: url("../Images/bg_light.png");
 }

 #joinTheArmy img {
   float:left;
   margin-right: 1.5vw;
 }

 #contactUs {
   padding: 3vw 1vw;
   color: white;
   font-size: 2rem;
 }

 .app-footer {
   background-image: url("../Images/bg_dark.png");
 }

 .app-footer a {
   color: white;
 }
